@import "tailwindcss";

:root {
  --brand: #00ec97;
  --brand-text: #0b3b2e;
}

html,
body {
  padding: 0;
  margin: 0;
}

button:not(:disabled),
label:has(> input[type="file"]) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
